@font-face {
    font-family:"FontAwesome";
    src: url('../fonts/fontawesome-webfont.woff');
}
#wrapper {
    vertical-align: middle;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
}
#wrapper {
    padding: 8px;
    width: 1100px;
    margin: 100px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    -moz-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}
#form-wrapper #search {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 16px'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#form-wrapper #search:focus {
    outline: 0;
    border-color: #aaa;
    -moz-box-shadow: 0 1px 1px #bbb inset;
    -webkit-box-shadow: 0 1px 1px #bbb inset;
    box-shadow: 0 1px 1px #bbb inset;
}
#form-wrapper #search::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}
#form-wrapper #search:-moz-placeholder {
    color: #999;
    font-weight: normal;
}
#form-wrapper #search:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}
#form-wrapper #submit {
    float: right;
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
#form-wrapper #submit:hover, #form-wrapper #submit:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}
#form-wrapper #submit:active {
    outline: 0;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
#form-wrapper #submit::-moz-focus-inner {
    border: 0;
}
#submit {
    border: 1px solid #00748f;
    height: 44px;
    width: 100px;
    padding: 0;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fafafa;
    text-transform: uppercase;
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
#queryBox {
    width: 670px;
    padding: 10px 5px;
    font: bold 16px'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#example {
    font: 16px'FontAwesome';
    padding-left: 8px;
    text-align: justify;
}
.wikiwrapper {
    overflow:hidden;
    /*make sure the wrapper has no dimension*/
    margin-bottom:10px;
}
.wiki {
    border: solid 1px black;
    font: bold 20px'lucida sans', 'trebuchet MS', 'Tahoma';
    border-radius: 10px;
    float:left;
    padding: 10px;
    margin:10px;
}
.wiki a {
    font: bold 18px'lucida sans', 'trebuchet MS', 'Tahoma';
}
#result a {
    font: bold 16px'lucida sans', 'trebuchet MS', 'Tahoma';
}
#dropdown {
    display:none;
    position:absolute;
    background-color: rgb(236, 235, 235);
    font: 16px'lucida sans', 'trebuchet MS', 'Tahoma';
    padding:5px;
    z-index: 99;
}
.autosuggest, #dropdown, .result {
    margin:0;
    border:0;
    width:660px;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 9px;
}
.autosuggest {
    border:1px solid #000;
}
#result {
    float: left;
    width: 100%;
}
#column1 {
  
    width:700px;
    display:block;
    float:left;

}
#column2 {
  width:400px;
    display:block;
    float:left;
}
#clear {
    clear: both;
}
#quote {
    font-size: 23;
    font-style: italic;
    font-family: 14px'lucida sans', 'trebuchet MS', 'Tahoma';
    text-align: justify;
}
img.resize {
    width:200px;
    /* you can use % */
    height: auto;
}
#result .text {
    font-size: 14 !important;
    font-family: 14px'lucida sans', 'trebuchet MS', 'Tahoma' !important;
}
#tweets {
    float: left;
    width: 400px;
    margin-left: -400px;
}
.text {
    text-align: justify;
}
#column1 b {
    background-color:yellow;
}
